<form class="{{cssClass}}" autocomplete="off">
  {{!-- Header da Ficha --}}
  <header class="sheet-header">
    <div class="header-content">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      
      <div class="header-fields">
        <div class="name-group">
          <input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"/>
          <div class="level-xp">
            <div class="level-line">
              <label>Nível: <span class="nivel">{{system.nivel}}</span></label>
              <div class="xp-controls">
                <button type="button" class="adicionar-xp" title="Adicionar XP">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="ajustar-xp" title="Ajustar XP">
                  <i class="fas fa-cog"></i>
                </button>
                <button type="button" class="testar-xp" title="Testar Sistema XP">
                  <i class="fas fa-bug"></i>
                </button>
                <button type="button" class="corrigir-sistema" title="Corrigir Sistema">
                  <i class="fas fa-wrench"></i>
                </button>
              </div>
            </div>
            <div class="xp-bar">
              <div class="xp-progress" style="width: {{calcularPorcentagemXP actor}}%"></div>
              <span class="xp-text">{{#if system.experiencia.atual}}{{system.experiencia.atual}}{{else}}0{{/if}} / {{getXPProximoNivel actor}} XP</span>
            </div>
          </div>
        </div>

        <div class="identity-group">
          <div class="form-group">
            <label>Raça:</label>
            <select name="system.raca.nome">
              <option value="">Selecione...</option>
              <option value="humano" {{#if (eq system.raca.nome "humano")}}selected{{/if}}>Humano</option>
              <option value="elfo" {{#if (eq system.raca.nome "elfo")}}selected{{/if}}>Elfo</option>
              <option value="anao" {{#if (eq system.raca.nome "anao")}}selected{{/if}}>Anão</option>
              <option value="halfling" {{#if (eq system.raca.nome "halfling")}}selected{{/if}}>Halfling</option>
              <option value="tiefling" {{#if (eq system.raca.nome "tiefling")}}selected{{/if}}>Tiefling</option>
              <option value="goblin" {{#if (eq system.raca.nome "goblin")}}selected{{/if}}>Goblin</option>
            </select>
          </div>

          <div class="form-group">
            <label>Classe:</label>
            <select name="system.classe.nome">
              <option value="">Selecione...</option>
              <option value="guerreiro" {{#if (eq system.classe.nome "guerreiro")}}selected{{/if}}>Guerreiro</option>
              <option value="mago" {{#if (eq system.classe.nome "mago")}}selected{{/if}}>Mago</option>
              <option value="ladino" {{#if (eq system.classe.nome "ladino")}}selected{{/if}}>Ladino</option>
              <option value="diplomata" {{#if (eq system.classe.nome "diplomata")}}selected{{/if}}>Diplomata</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Abas de Navegação --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="principal">Principal</a>
    <a class="item" data-tab="magias">Magias</a>
    <a class="item" data-tab="equipamentos">Equipamentos</a>
    <a class="item" data-tab="habilidades">Habilidades</a>
    <a class="item" data-tab="detalhes">Detalhes</a>
  </nav>

  {{!-- Conteúdo das Abas --}}
  <section class="sheet-body">
    
    {{!-- Aba Principal --}}
    <div class="tab" data-group="primary" data-tab="principal">
      <div class="principal-content">
        
        {{!-- Atributos --}}
        <div class="atributos-section">
          <h3>Atributos</h3>
          
          {{!-- Informações sobre pontos de atributos --}}
          {{#if statusPontosAtributos.temPontosDisponiveis}}
          <div class="pontos-atributos-info">
            {{#unless statusPontosAtributos.atributosInicializados}}
              <p><strong>Pontos Iniciais Disponíveis:</strong> {{statusPontosAtributos.pontosDisponiveisIniciais}}/18</p>
              <p><small>Máximo inicial por atributo: 8 pontos</small></p>
            {{/unless}}
            {{#if statusPontosAtributos.pontosPorNivel}}
              <p><strong>Pontos por Nível:</strong> {{statusPontosAtributos.pontosPorNivel}}</p>
            {{/if}}
          </div>
          {{/if}}
          
          <div class="atributos-grid">
            <div class="atributo">
              <label>Físico</label>
              <div class="atributo-value">
                {{!-- Botão para diminuir (apenas durante distribuição inicial) --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#unless statusPontosAtributos.atributosInicializados}}
                    {{#if (gt system.atributos.fisico.valor 0)}}
                    <button type="button" class="remover-ponto-atributo" data-atributo="fisico" title="Remover ponto">
                      <i class="fas fa-minus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">-</span>
                    {{/if}}
                  {{/unless}}
                {{/if}}
                
                <input type="number" name="system.atributos.fisico.valor" value="{{system.atributos.fisico.valor}}" min="0" max="18" readonly/>
                
                {{!-- Botão para aumentar --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#if (or statusPontosAtributos.pontosPorNivel (and (not statusPontosAtributos.atributosInicializados) (gt statusPontosAtributos.pontosDisponiveisIniciais 0)))}}
                    {{#if (lt system.atributos.fisico.valor (limiteMaximoAtributo statusPontosAtributos.atributosInicializados))}}
                    <button type="button" class="adicionar-ponto-atributo" data-atributo="fisico" title="Adicionar ponto">
                      <i class="fas fa-plus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">+</span>
                    {{/if}}
                  {{/if}}
                {{/if}}
                
                <button type="button" class="rolar-atributo" data-atributo="fisico" data-nd="9" title="Rolar teste">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Ação</label>
              <div class="atributo-value">
                {{!-- Botão para diminuir (apenas durante distribuição inicial) --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#unless statusPontosAtributos.atributosInicializados}}
                    {{#if (gt system.atributos.acao.valor 0)}}
                    <button type="button" class="remover-ponto-atributo" data-atributo="acao" title="Remover ponto">
                      <i class="fas fa-minus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">-</span>
                    {{/if}}
                  {{/unless}}
                {{/if}}
                
                <input type="number" name="system.atributos.acao.valor" value="{{system.atributos.acao.valor}}" min="0" max="18" readonly/>
                
                {{!-- Botão para aumentar --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#if (or statusPontosAtributos.pontosPorNivel (and (not statusPontosAtributos.atributosInicializados) (gt statusPontosAtributos.pontosDisponiveisIniciais 0)))}}
                    {{#if (lt system.atributos.acao.valor (limiteMaximoAtributo statusPontosAtributos.atributosInicializados))}}
                    <button type="button" class="adicionar-ponto-atributo" data-atributo="acao" title="Adicionar ponto">
                      <i class="fas fa-plus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">+</span>
                    {{/if}}
                  {{/if}}
                {{/if}}
                
                <button type="button" class="rolar-atributo" data-atributo="acao" data-nd="9" title="Rolar teste">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Mental</label>
              <div class="atributo-value">
                {{!-- Botão para diminuir (apenas durante distribuição inicial) --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#unless statusPontosAtributos.atributosInicializados}}
                    {{#if (gt system.atributos.mental.valor 0)}}
                    <button type="button" class="remover-ponto-atributo" data-atributo="mental" title="Remover ponto">
                      <i class="fas fa-minus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">-</span>
                    {{/if}}
                  {{/unless}}
                {{/if}}
                
                <input type="number" name="system.atributos.mental.valor" value="{{system.atributos.mental.valor}}" min="0" max="18" readonly/>
                
                {{!-- Botão para aumentar --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#if (or statusPontosAtributos.pontosPorNivel (and (not statusPontosAtributos.atributosInicializados) (gt statusPontosAtributos.pontosDisponiveisIniciais 0)))}}
                    {{#if (lt system.atributos.mental.valor (limiteMaximoAtributo statusPontosAtributos.atributosInicializados))}}
                    <button type="button" class="adicionar-ponto-atributo" data-atributo="mental" title="Adicionar ponto">
                      <i class="fas fa-plus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">+</span>
                    {{/if}}
                  {{/if}}
                {{/if}}
                
                <button type="button" class="rolar-atributo" data-atributo="mental" data-nd="9" title="Rolar teste">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Social</label>
              <div class="atributo-value">
                {{!-- Botão para diminuir (apenas durante distribuição inicial) --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#unless statusPontosAtributos.atributosInicializados}}
                    {{#if (gt system.atributos.social.valor 0)}}
                    <button type="button" class="remover-ponto-atributo" data-atributo="social" title="Remover ponto">
                      <i class="fas fa-minus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">-</span>
                    {{/if}}
                  {{/unless}}
                {{/if}}
                
                <input type="number" name="system.atributos.social.valor" value="{{system.atributos.social.valor}}" min="0" max="18" readonly/>
                
                {{!-- Botão para aumentar --}}
                {{#if statusPontosAtributos.temPontosDisponiveis}}
                  {{#if (or statusPontosAtributos.pontosPorNivel (and (not statusPontosAtributos.atributosInicializados) (gt statusPontosAtributos.pontosDisponiveisIniciais 0)))}}
                    {{#if (lt system.atributos.social.valor (limiteMaximoAtributo statusPontosAtributos.atributosInicializados))}}
                    <button type="button" class="adicionar-ponto-atributo" data-atributo="social" title="Adicionar ponto">
                      <i class="fas fa-plus"></i>
                    </button>
                    {{else}}
                    <span class="btn-disabled">+</span>
                    {{/if}}
                  {{/if}}
                {{/if}}
                
                <button type="button" class="rolar-atributo" data-atributo="social" data-nd="9" title="Rolar teste">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
          </div>
          
          {{!-- Botão para finalizar distribuição inicial --}}
          {{#unless statusPontosAtributos.atributosInicializados}}
            {{#if (eq statusPontosAtributos.pontosDisponiveisIniciais 0)}}
            <div class="finalizar-distribuicao">
              <button type="button" class="finalizar-distribuicao-inicial">Finalizar Distribuição de Atributos</button>
            </div>
            {{/if}}
          {{/unless}}
          
          {{!-- Botão de teste para debug --}}
          <div class="debug-section">
            <button type="button" class="testar-atributos" title="Testar estado dos atributos (ver console)">🔍 Testar Atributos</button>
            <button type="button" class="reinicializar-dados" title="Reinicializar dados do personagem">🔄 Reinicializar</button>
          </div>
        </div>

        {{!-- Recursos --}}
        <div class="recursos-section">
          <h3>Recursos</h3>
          <div class="recursos-grid">
            
            {{!-- Pontos de Vida --}}
            <div class="recurso pv">
              <label>Pontos de Vida</label>
              <div class="recurso-bar">
                <div class="bar-background">
                  <div class="bar-fill pv-fill" style="width: 50%"></div>
                  <span class="bar-text">{{system.recursos.pv.valor}} / {{system.recursos.pv.max}}</span>
                </div>
                <div class="recurso-controls">
                  <button type="button" class="ajustar-pv" data-operacao="remover" title="Reduzir PV">-</button>
                  <button type="button" class="ajustar-pv" data-operacao="adicionar" title="Aumentar PV">+</button>
                </div>
              </div>
            </div>

            {{!-- Pontos de Magia --}}
            <div class="recurso pm">
              <label>Pontos de Magia</label>
              <div class="recurso-bar">
                <div class="bar-background">
                  <div class="bar-fill pm-fill" style="width: 50%"></div>
                  <span class="bar-text">{{system.recursos.pm.valor}} / {{system.recursos.pm.max}}</span>
                </div>
                <div class="recurso-controls">
                  <button type="button" class="ajustar-pm" data-operacao="remover" title="Reduzir PM">-</button>
                  <button type="button" class="ajustar-pm" data-operacao="adicionar" title="Aumentar PM">+</button>
                </div>
              </div>
            </div>

            {{!-- Defesa --}}
            <div class="recurso defesa">
              <label>Defesa</label>
              <div class="defesa-value">
                <span class="defesa-total">{{system.recursos.defesa.valor}}</span>
                <small class="defesa-breakdown">(10 + {{system.atributos.acao.valor}} + modificadores)</small>
              </div>
            </div>
          </div>
        </div>

        {{!-- Condições Básicas --}}
        <div class="condicoes-section">
          <h3>Condições</h3>
          <div class="condicoes-grid">
            <div class="condicao">
              <input type="checkbox" name="system.condicoes.ferido" {{#if system.condicoes.ferido}}checked{{/if}}/>
              <label>Ferido</label>
            </div>
            <div class="condicao">
              <input type="checkbox" name="system.condicoes.gravemente_ferido" {{#if system.condicoes.gravemente_ferido}}checked{{/if}}/>
              <label>Gravemente Ferido</label>
            </div>
            <div class="condicao">
              <input type="checkbox" name="system.condicoes.inconsciente" {{#if system.condicoes.inconsciente}}checked{{/if}}/>
              <label>Inconsciente</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Aba Magias --}}
    <div class="tab" data-group="primary" data-tab="magias">
      <div class="magias-content">
        
        {{!-- Status Mágico --}}
        <div class="status-magico">
          <div class="status-box">
            <strong>PM Atuais:</strong> {{system.recursos.pm.valor}} / {{system.recursos.pm.max}}
          </div>
          <div class="status-box">
            <strong>Magias Conhecidas:</strong> {{magiasConhecidas}}
          </div>
          <div class="status-box">
            <strong>Escola Principal:</strong> {{escolaPrincipal}}
          </div>
        </div>

        {{!-- Magias Conhecidas --}}
        <div class="magias-conhecidas-section">
          <h3><i class="fas fa-book-open"></i> Magias Conhecidas</h3>
          
          {{#each magiasPorEscola as |lista escola|}}
          {{#if lista.length}}
          <div class="magias-escola">
            <h4>{{escola}}</h4>
            <div class="magias-grid">
              {{#each lista}}
              <div class="magia-item conhecida" data-item-id="{{_id}}">
                <div class="magia-header">
                  <h5>{{name}}</h5>
                  <div class="magia-botoes">
                    {{#if system.pode_conjurar}}
                    <button type="button" class="conjurar-magia" data-item-id="{{_id}}" title="Conjurar Magia">
                      <i class="fas fa-magic"></i>
                    </button>
                    {{else}}
                    <button type="button" class="disabled" title="PM Insuficiente">
                      <i class="fas fa-ban"></i>
                    </button>
                    {{/if}}
                    <button type="button" class="detalhes-magia" data-item-id="{{_id}}" title="Ver detalhes">
                      <i class="fas fa-info-circle"></i>
                    </button>
                    <button type="button" class="remover-magia" data-item-id="{{_id}}" title="Remover magia">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <div class="magia-detalhes">
                  <p><strong>Nível:</strong> {{system.nivel}} • <strong>Custo:</strong> {{system.custo_pm}} PM</p>
                  <p><strong>Alcance:</strong> {{system.alcance}} • <strong>Duração:</strong> {{system.duracao}}</p>
                  {{#if system.descricao}}
                  <p class="magia-descricao">{{system.descricao}}</p>
                  {{/if}}
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{/if}}
          {{/each}}

          {{#unless magiasPorEscola}}
          <div class="empty-section">
            <p>Nenhuma magia conhecida ainda. Adicione magias através do sistema de habilidades!</p>
          </div>
          {{/unless}}
        </div>

        {{!-- Magias Disponíveis --}}
        <div class="magias-disponiveis-section">
          <h3><i class="fas fa-plus-circle"></i> Magias Disponíveis</h3>
          
          {{#each magiasDisponiveisPorEscola as |lista escola|}}
          {{#if lista.length}}
          <div class="magias-escola">
            <h4>{{escola}}</h4>
            <div class="magias-grid">
              {{#each lista}}
              <div class="magia-item disponivel" data-magia="{{id}}">
                <div class="magia-header">
                  <h5>{{nome}}</h5>
                  <div class="magia-botoes">
                    <button type="button" class="detalhes-magia-disponivel" data-magia="{{id}}" title="Ver detalhes">
                      <i class="fas fa-info-circle"></i>
                    </button>
                    <button type="button" class="adicionar-magia" data-magia="{{id}}" title="Adicionar magia">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="magia-requisitos">
                  <p><strong>Nível:</strong> {{nivel}} • <strong>Custo:</strong> {{custo_pm}} PM</p>
                  <p><strong>Pré-requisitos:</strong> {{prerequisitos}}</p>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>
    </div>

    {{!-- Aba Equipamentos --}}
    <div class="tab" data-group="primary" data-tab="equipamentos">
      <div class="equipamentos-content">
        
        {{!-- Equipados --}}
        <div class="equipados-section">
          <h3>Equipamentos Equipados</h3>
          <div class="equipados-grid">
            <div class="slot arma-principal">
              <label>Arma Principal:</label>
              {{#if equipados.arma_principal}}
              <div class="item equipado" data-item-id="{{equipados.arma_principal._id}}">
                <img src="{{equipados.arma_principal.img}}" width="32" height="32"/>
                <span>{{equipados.arma_principal.name}}</span>
                <a class="atacar" title="Atacar"><i class="fas fa-sword"></i></a>
              </div>
              {{else}}
              <div class="slot-vazio">Vazio</div>
              {{/if}}
            </div>

            <div class="slot armadura">
              <label>Armadura:</label>
              {{#if equipados.armadura}}
              <div class="item equipado" data-item-id="{{equipados.armadura._id}}">
                <img src="{{equipados.armadura.img}}" width="32" height="32"/>
                <span>{{equipados.armadura.name}}</span>
              </div>
              {{else}}
              <div class="slot-vazio">Vazio</div>
              {{/if}}
            </div>

            <div class="slot escudo">
              <label>Escudo:</label>
              {{#if equipados.escudo}}
              <div class="item equipado" data-item-id="{{equipados.escudo._id}}">
                <img src="{{equipados.escudo.img}}" width="32" height="32"/>
                <span>{{equipados.escudo.name}}</span>
              </div>
              {{else}}
              <div class="slot-vazio">Vazio</div>
              {{/if}}
            </div>
          </div>
        </div>

        {{!-- Inventário --}}
        <div class="inventario-section">
          <div class="inventario-header">
            <h3>Inventário</h3>
            <div class="peso-info">
              <span class="peso {{#if sobrecarregado}}sobrecarregado{{/if}}">
                {{pesoTotal}}kg / {{capacidadeCarga}}kg
              </span>
            </div>
          </div>

          {{!-- Controles de Criação de Itens --}}
          <div class="item-controls">
            <button type="button" class="item-create" data-type="arma">+ Arma</button>
            <button type="button" class="item-create" data-type="armadura">+ Armadura</button>
            <button type="button" class="item-create" data-type="equipamento">+ Equipamento</button>
            <button type="button" class="item-create" data-type="consumivel">+ Consumível</button>
            <button type="button" class="adicionar-item">+ Item Simples</button>
          </div>

          {{!-- Lista de Itens por Categoria --}}
          {{#each items as |lista categoria|}}
          {{#if lista.length}}
          <div class="items-categoria">
            <h4>{{categoria}}</h4>
            <ol class="items-list">
              {{#each lista}}
              <li class="item" data-item-id="{{_id}}" data-tooltip="true">
                <div class="item-image">
                  <img src="{{img}}" title="{{name}}" width="24" height="24"/>
                </div>
                <div class="item-name">
                  <h4>{{name}}</h4>
                  {{#if system.quantidade}}
                  <span class="item-qty">x{{system.quantidade}}</span>
                  {{/if}}
                </div>
                <div class="item-properties">
                  {{#if system.equipado}}
                  <span class="property equipado">Equipado</span>
                  {{/if}}
                  {{#if system.peso}}
                  <span class="property peso">{{system.peso}}kg</span>
                  {{/if}}
                </div>
                <div class="item-controls">
                  {{#if (eq categoria "armas")}}
                  <a class="item-control atacar" title="Atacar"><i class="fas fa-sword"></i></a>
                  {{/if}}
                  {{#if (eq categoria "consumiveis")}}
                  <a class="item-control usar-item" title="Usar"><i class="fas fa-flask"></i></a>
                  {{/if}}
                  {{#if system.equipado}}
                  <a class="item-control desequipar-item" title="Desequipar"><i class="fas fa-times"></i></a>
                  {{else}}
                  <a class="item-control equipar-item" title="Equipar"><i class="fas fa-check"></i></a>
                  {{/if}}
                  {{#if isSimple}}
                  <a class="item-control editar-item-simples" data-index="{{simpleIndex}}" title="Editar"><i class="fas fa-edit"></i></a>
                  <a class="item-control remover-item" data-index="{{simpleIndex}}" title="Remover"><i class="fas fa-trash"></i></a>
                  {{else}}
                  <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
                  {{/if}}
                </div>
              </li>
              {{/each}}
            </ol>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- Dinheiro --}}
        <div class="dinheiro-section">
          <h3>Dinheiro</h3>
          <div class="moedas-grid">
            <div class="moeda">
              <label>Ouro:</label>
              <input type="number" name="system.equipamentos.dinheiro.ouro" value="{{#if system.equipamentos.dinheiro.ouro}}{{system.equipamentos.dinheiro.ouro}}{{else}}0{{/if}}" min="0"/>
            </div>
            <div class="moeda">
              <label>Prata:</label>
              <input type="number" name="system.equipamentos.dinheiro.prata" value="{{#if system.equipamentos.dinheiro.prata}}{{system.equipamentos.dinheiro.prata}}{{else}}0{{/if}}" min="0"/>
            </div>
            <div class="moeda">
              <label>Cobre:</label>
              <input type="number" name="system.equipamentos.dinheiro.cobre" value="{{#if system.equipamentos.dinheiro.cobre}}{{system.equipamentos.dinheiro.cobre}}{{else}}0{{/if}}" min="0"/>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Aba Habilidades --}}
    <div class="tab" data-group="primary" data-tab="habilidades">
      <div class="habilidades-content">
        
        {{!-- Filtros e Controles --}}
        <div class="habilidades-header">
          <div class="habilidades-filtros">
            <label>Filtrar por categoria:</label>
            <select class="habilidades-filtro">
              <option value="todas">Todas</option>
              <option value="combate">Combate</option>
              <option value="magicas">Mágicas</option>
              <option value="furtividade">Furtividade</option>
              <option value="sociais">Sociais</option>
              <option value="gerais">Gerais</option>
            </select>
          </div>
          
          <div class="habilidades-info">
            <p>Habilidades Conhecidas: <span class="habilidades-total">{{habilidadesTotal}}</span></p>
            <p>Pontos Disponíveis: <span class="pontos-habilidade">{{pontosHabilidadeDisponiveis}}</span></p>
          </div>
        </div>

        {{!-- Habilidades Conhecidas --}}
        <div class="habilidades-conhecidas">
          <h3>Habilidades Conhecidas</h3>
          
          {{#if habilidadesConhecidasProcessadas}}
          <div class="habilidades-grid">
            {{#each habilidadesConhecidasProcessadas as |habilidade key|}}
            <div class="habilidade-item conhecida" data-habilidade="{{key}}" data-categoria="{{habilidade.categoria}}">
              <div class="habilidade-header">
                <h5>{{habilidade.nome}}</h5>
                <div class="habilidade-botoes">
                  <button type="button" class="detalhes-habilidade-conhecida" data-habilidade="{{key}}" title="Ver informações completas">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <button type="button" class="remover-habilidade" data-habilidade="{{key}}" title="Remover habilidade">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
              <div class="habilidade-efeito">
                {{habilidade.efeito}}
              </div>
            </div>
            {{/each}}
          </div>
          {{else}}
          <p class="no-habilidades">Nenhuma habilidade conhecida ainda.</p>
          {{/if}}
        </div>

        {{!-- Habilidades Disponíveis --}}
        <div class="habilidades-disponiveis">
          <h3>Habilidades Disponíveis</h3>
          
          <div class="categorias-habilidades">
            
            {{!-- Habilidades de Combate --}}
            <div class="categoria-section combate" data-categoria="combate">
              <h4>Combate</h4>
              <div class="habilidades-grid">
                {{#each habilidadesCombateDisponiveis as |habilidade key|}}
                <div class="habilidade-item disponivel" data-habilidade="{{key}}">
                  <div class="habilidade-header">
                    <h5>{{habilidade.nome}}</h5>
                    <div class="habilidade-botoes">
                      <button type="button" class="detalhes-habilidade" data-habilidade="{{key}}" data-categoria="combate" title="Ver detalhes">
                        <i class="fas fa-info-circle"></i>
                      </button>
                      <button type="button" class="adicionar-habilidade" data-habilidade="{{key}}" data-categoria="combate" title="Adicionar habilidade">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="habilidade-requisitos">
                    <p>Nível Mín: {{habilidade.nivelMin}}</p>
                    {{#if habilidade.preRequisito}}
                    <p>Pré-requisitos: 
                      {{#each habilidade.preRequisito as |valor atributo|}}
                      {{atributo}} {{valor}}{{#unless @last}}, {{/unless}}
                      {{/each}}
                    </p>
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>



            {{!-- Habilidades de Furtividade --}}
            <div class="categoria-section furtividade" data-categoria="furtividade">
              <h4>Furtividade</h4>
              <div class="habilidades-grid">
                {{#each habilidadesFurtividadeDisponiveis as |habilidade key|}}
                <div class="habilidade-item disponivel" data-habilidade="{{key}}">
                  <div class="habilidade-header">
                    <h5>{{habilidade.nome}}</h5>
                    <div class="habilidade-botoes">
                      <button type="button" class="detalhes-habilidade" data-habilidade="{{key}}" data-categoria="furtividade" title="Ver detalhes">
                        <i class="fas fa-info-circle"></i>
                      </button>
                      <button type="button" class="adicionar-habilidade" data-habilidade="{{key}}" data-categoria="furtividade" title="Adicionar habilidade">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="habilidade-requisitos">
                    <p>Nível Mín: {{habilidade.nivelMin}}</p>
                    {{#if habilidade.preRequisito}}
                    <p>Pré-requisitos: 
                      {{#each habilidade.preRequisito as |valor atributo|}}
                      {{atributo}} {{valor}}{{#unless @last}}, {{/unless}}
                      {{/each}}
                    </p>
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- Habilidades Sociais --}}
            <div class="categoria-section sociais" data-categoria="sociais">
              <h4>Sociais</h4>
              <div class="habilidades-grid">
                {{#each habilidadesSociaisDisponiveis as |habilidade key|}}
                <div class="habilidade-item disponivel" data-habilidade="{{key}}">
                  <div class="habilidade-header">
                    <h5>{{habilidade.nome}}</h5>
                    <div class="habilidade-botoes">
                      <button type="button" class="detalhes-habilidade" data-habilidade="{{key}}" data-categoria="sociais" title="Ver detalhes">
                        <i class="fas fa-info-circle"></i>
                      </button>
                      <button type="button" class="adicionar-habilidade" data-habilidade="{{key}}" data-categoria="sociais" title="Adicionar habilidade">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="habilidade-requisitos">
                    <p>Nível Mín: {{habilidade.nivelMin}}</p>
                    {{#if habilidade.preRequisito}}
                    <p>Pré-requisitos: 
                      {{#each habilidade.preRequisito as |valor atributo|}}
                      {{atributo}} {{valor}}{{#unless @last}}, {{/unless}}
                      {{/each}}
                    </p>
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- Habilidades Gerais --}}
            <div class="categoria-section gerais" data-categoria="gerais">
              <h4>Gerais</h4>
              <div class="habilidades-grid">
                {{#each habilidadesGeraisDisponiveis as |habilidade key|}}
                <div class="habilidade-item disponivel" data-habilidade="{{key}}">
                  <div class="habilidade-header">
                    <h5>{{habilidade.nome}}</h5>
                    <div class="habilidade-botoes">
                      <button type="button" class="detalhes-habilidade" data-habilidade="{{key}}" data-categoria="gerais" title="Ver detalhes">
                        <i class="fas fa-info-circle"></i>
                      </button>
                      <button type="button" class="adicionar-habilidade" data-habilidade="{{key}}" data-categoria="gerais" title="Adicionar habilidade">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="habilidade-requisitos">
                    <p>Nível Mín: {{habilidade.nivelMin}}</p>
                    {{#if habilidade.preRequisito}}
                    <p>Pré-requisitos: 
                      {{#each habilidade.preRequisito as |valor atributo|}}
                      {{atributo}} {{valor}}{{#unless @last}}, {{/unless}}
                      {{/each}}
                    </p>
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    {{!-- Aba Detalhes --}}
    <div class="tab" data-group="primary" data-tab="detalhes">
      <div class="detalhes-content">
        
        <div class="form-group">
          <label>Biografia:</label>
          <textarea name="system.detalhes.biografia" rows="4">{{system.detalhes.biografia}}</textarea>
        </div>

        <div class="form-group">
          <label>Aparência:</label>
          <textarea name="system.detalhes.aparencia" rows="3">{{system.detalhes.aparencia}}</textarea>
        </div>

        <div class="form-group">
          <label>Personalidade:</label>
          <textarea name="system.detalhes.personalidade" rows="3">{{system.detalhes.personalidade}}</textarea>
        </div>

        <div class="form-group">
          <label>História:</label>
          <textarea name="system.detalhes.historia" rows="5">{{system.detalhes.historia}}</textarea>
        </div>

        {{!-- Seção de Progressão de Nível --}}
        <div class="progressao-section">
          <h3><i class="fas fa-arrow-up"></i> Progressão de Nível</h3>
          
          {{!-- Status Atual --}}
          <div class="status-atual">
            <div class="status-box">
              <strong>Nível Atual:</strong> {{system.nivel}}
            </div>
            <div class="status-box">
              <strong>XP Atual:</strong> {{#if system.experiencia.atual}}{{system.experiencia.atual}}{{else}}0{{/if}} / {{proximoNivel}}
            </div>
            <div class="status-box">
              <strong>Pontos de Atributo:</strong> {{#if system.progressao.pontos_atributo}}{{system.progressao.pontos_atributo}}{{else}}0{{/if}}
            </div>
          </div>

          {{!-- Benefícios ao Subir de Nível --}}
          <div class="beneficios-nivel">
            <h4><i class="fas fa-gift"></i> Sistema de Progressão:</h4>
            <div class="progressao-pattern">
              <div class="pattern-item">
                <strong>Nível 1:</strong> 4 habilidades iniciais
              </div>
              <div class="pattern-item">
                <strong>Níveis 2, 4, 6, 8:</strong> +1 habilidade
              </div>
              <div class="pattern-item">
                <strong>Níveis 3, 7:</strong> +1 ponto de atributo
              </div>
              <div class="pattern-item">
                <strong>Níveis 5, 9:</strong> Habilidade especial de classe
              </div>
              <div class="pattern-item">
                <strong>Nível 10:</strong> Maestria (habilidade única)
              </div>
            </div>
            <div class="beneficio-atual">
              <h5><i class="fas fa-star"></i> Próximo Nível ({{math system.nivel "+" 1}}):</h5>
              <p class="proximo-beneficio">
                {{#if (eq (math system.nivel "+" 1) 2)}}+1 habilidade{{/if}}
                {{#if (eq (math system.nivel "+" 1) 3)}}+1 ponto de atributo{{/if}}
                {{#if (eq (math system.nivel "+" 1) 4)}}+1 habilidade{{/if}}
                {{#if (eq (math system.nivel "+" 1) 5)}}Habilidade especial de classe{{/if}}
                {{#if (eq (math system.nivel "+" 1) 6)}}+1 habilidade{{/if}}
                {{#if (eq (math system.nivel "+" 1) 7)}}+1 ponto de atributo{{/if}}
                {{#if (eq (math system.nivel "+" 1) 8)}}+1 habilidade{{/if}}
                {{#if (eq (math system.nivel "+" 1) 9)}}Habilidade especial de classe{{/if}}
                {{#if (eq (math system.nivel "+" 1) 10)}}Maestria (habilidade única){{/if}}
                {{#if (gt (math system.nivel "+" 1) 10)}}Sistema de progressão épica{{/if}}
              </p>
            </div>
          </div>

                     {{!-- Tabela de Progressão de XP --}}
           <div class="tabela-xp">
             <h4><i class="fas fa-chart-line"></i> Tabela de Progressão</h4>
             <div class="xp-grid-completa">
               <div class="xp-header">
                 <span>Nível</span>
                 <span>XP para Subir</span>
                 <span>XP Total</span>
                 <span>Benefícios Ganhos</span>
               </div>
               {{#each tabelaProgressaoCompleta as |nivel|}}
               <div class="xp-row {{#if (eq nivel.numero ../system.nivel)}}atual{{/if}} {{#if (lt nivel.numero ../system.nivel)}}concluido{{/if}}">
                 <span class="nivel">{{nivel.numero}}</span>
                 <span class="xp-necessario">{{nivel.xp_necessario}}</span>
                 <span class="xp-total">{{nivel.xp_total}}</span>
                 <span class="beneficios">{{nivel.beneficios}}</span>
               </div>
               {{/each}}
             </div>
           </div>

          {{!-- Informações de Classe --}}
          {{#if system.classe.nome}}
          <div class="info-classe">
            <h4><i class="fas fa-shield-alt"></i> Sua Classe: {{system.classe.nome}}</h4>
            <div class="classe-descricao">
              {{#if (eq system.classe.nome "guerreiro")}}
              <p><strong>Guerreiro</strong> - Especialista em combate e proteção</p>
              <ul>
                <li>Foco em atributos Físico e Ação</li>
                <li>Habilidades de combate e liderança</li>
                <li>Especialização em armas e armaduras</li>
                <li>Manobras especiais de combate</li>
              </ul>
              {{else if (eq system.classe.nome "mago")}}
              <p><strong>Mago</strong> - Manipulador das forças arcanas</p>
              <ul>
                <li>Foco em atributo Mental</li>
                <li>Acesso a todas as escolas de magia</li>
                <li>PM adicional e magias poderosas</li>
                <li>Habilidades de pesquisa e conhecimento</li>
              </ul>
              {{else if (eq system.classe.nome "ladino")}}
              <p><strong>Ladino</strong> - Mestre da furtividade e precisão</p>
              <ul>
                <li>Foco em atributos Ação e Mental</li>
                <li>Habilidades de furtividade e subterfúgio</li>
                <li>Ataques precisos e críticos</li>
                <li>Especialização em ferramentas e disfarces</li>
              </ul>
              {{else if (eq system.classe.nome "diplomata")}}
              <p><strong>Diplomata</strong> - Expert em interações sociais</p>
              <ul>
                <li>Foco em atributos Social e Mental</li>
                <li>Habilidades de persuasão e negociação</li>
                <li>Conhecimento de idiomas e culturas</li>
                <li>Redes de contatos e influência</li>
              </ul>
              {{else}}
              <p>Classe selecionada: <strong>{{system.classe.nome}}</strong></p>
              <p>Escolha uma classe para ver informações específicas de progressão.</p>
              {{/if}}
            </div>
          </div>
          {{/if}}

          {{!-- Dicas de Progressão --}}
          <div class="dicas-progressao">
            <h4><i class="fas fa-lightbulb"></i> Dicas de Progressão</h4>
            <div class="dica-box">
              <p><strong>Distribuição de Atributos:</strong></p>
              <ul>
                <li><strong>Físico:</strong> Aumenta PV (×3) e dano corpo a corpo</li>
                <li><strong>Ação:</strong> Aumenta Defesa e precisão à distância</li>
                <li><strong>Mental:</strong> Aumenta PM (×2) e poder de magias</li>
                <li><strong>Social:</strong> Melhora interações e liderança</li>
              </ul>
            </div>
            
            <div class="dica-box">
              <p><strong>Planejamento:</strong></p>
              <ul>
                <li>Considere o estilo de jogo que você quer</li>
                <li>Equilibre entre ataque, defesa e utilidade</li>
                <li>Converse com o Mestre sobre habilidades disponíveis</li>
                <li>Pense na sinergia entre atributos e classe</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</form> 